.btn-outline-reddish{
    color: var(--color-quaterny) !important;
    border: 2px solid var(--color-quaterny) !important;

    &:hover{
        color: white !important;
        background-color: var(--color-quaterny);
    }
}
.btn-order{
    display: inline-block;
   align-self: center;
   border: none;
   background-color: var(--color-quaterny);
   border-radius: 4px;
   font-family: var(--font-tertiary);
   font-size: 1.2rem;
   text-transform: uppercase;
   padding: 1.1rem 3rem;
   margin-top: 4rem;
   cursor: pointer;
   transition: all .3s;
   text-decoration: none;
   color: var(--color-secondary);

   &+a{
       color: white;
       text-decoration: none;
   }
    

   &:hover{
    background-color: var(--color-quinary);
   }
  
}
.btn-read{
    display: inline-block;
   align-self: center;
   border: none;
   background-color: var(--color-quaterny);
   border-radius: 4px;
   font-family: var(--font-tertiary);
   font-size: 1.1rem;
   text-transform: uppercase;
   padding: .8rem 3rem;
   margin-top: 1.5rem ;
   cursor: pointer;
   transition: all .2s;
   color: var(--color-secondary);
   text-decoration: none;

   &:hover{
    background-color: var(--color-quinary);
   }

   &:hover{
    background-color: var(--color-quinary);
   }
}